.form-container {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.personal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  width: 50%;
  height: 10%;
}

.email-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 10%;
  margin-top: 20px;
}

#email {
  width: 50%;
  height: 100%;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
}

#subject {
  width: 50%;
  height: 100%;
  font-size: 15px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
}

#firstName {
  width: 50%;
  height: 100%;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
}

#lastName {
  width: 50%;
  height: 100%;
  font-size: 15px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
}

.email-content {
  padding: 30px 0 0 0;
  width: 25%;
}

#email-content {
  resize: none;
  height: 20vh;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.buttons input {
  height: 5vh;
  font-size: larger;
  width: 50%;
  border: none;
  margin-top: 15px;
  border-radius: 100px;
}

.buttons input:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  background-color: rgb(99, 99, 99);
  color: rgb(185, 185, 185);
  transition: 0.5s;
}