*
{
    padding: 0;
    margin: 0;
}

.slideshow
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: rgb(161, 161, 161);
}

.slideshow img
{
    width: 30%;
    aspect-ratio: 16/9;
}

.body
{
    width: 100%;
    height: 70vh;
    background-color: grey;
}

.arrow
{
    height: 2vmin;
    width: 3vmin;
}

.arorw input
{
    background-color: transparent;
    
}