*
{
    padding: 0;
    margin: 0;
}

.slideshow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(78, 78, 78);
}

#main-showcase-image
{
    width: 70vh;
    aspect-ratio: 16/9;
}

#next-showcase-image
{
    width: 50vh;
    aspect-ratio: 16/9;
}

#previous-showcase-image
{
    width: 50vh;
    aspect-ratio: 16/9;
}

#pause-button
{
    position: absolute;
}

.body
{
    width: 100%;
    height: 70vh;
    background-color: #0c0c0c;
}

.image
{
    cursor: pointer;
    height: 32.5vh;
    aspect-ratio: 16/9;
    padding: 50px 0;
    transition: 0.35s;
    z-index: 0;
}

.image-hover:hover
{
    transform: scale(1.1);
}

.image-gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #313131;
}

.buttons
{
    display: flex;
}

#popup-image
{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250px transform;  
    z-index: 5;
}

#selected-image
{
    max-height: 100%;
    max-width: 100%;
    z-index: 4;
}

#next-image-button
{
    left: 30%;
    cursor: pointer;
    width: 2.75vmin;
    background-color: transparent;
    height: 2.75vmin;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(45deg);
    border-left: solid rgb(172, 172, 172) 5px;
    border-bottom: solid rgb(172, 172, 172) 5px;
    border-right: solid rgba(0, 0, 0, 0) 5px;
    border-top: solid rgba(0, 0, 0, 0) 5px;
}

#previous-image-button
{
    right: 30%;
    cursor: pointer;
    width: 2.75vmin;
    background-color: transparent;
    height: 2.75vmin;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(225deg);
    border-left: solid rgb(172, 172, 172) 5px;
    border-bottom: solid rgb(172, 172, 172) 5px;
    border-right: solid rgba(0, 0, 0, 0) 5px;
    border-top: solid rgba(0, 0, 0, 0) 5px;
}

#previous-image-button:hover, #next-image-button:hover
{
    border-left: solid rgb(231, 231, 231) 7.5px;
    border-bottom: solid rgb(231, 231, 231) 7.5px;
}


#previous-fullscreenimage-button
{
    left: 30%;
    bottom: 100px;
    cursor: pointer;
    width: 2.75vmin;
    background-color: transparent;
    height: 2.75vmin;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(45deg);
    border-left: solid rgb(172, 172, 172) 5px;
    border-bottom: solid rgb(172, 172, 172) 5px;
    border-right: solid rgba(0, 0, 0, 0) 5px;
    border-top: solid rgba(0, 0, 0, 0) 5px;
    z-index: 10;
}

#next-fullscreenimage-button
{
    right: 30%;
    bottom: 100px;
    cursor: pointer;
    width: 2.75vmin;
    background-color: transparent;
    height: 2.75vmin;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(225deg);
    border-left: solid rgb(172, 172, 172) 5px;
    border-bottom: solid rgb(172, 172, 172) 5px;
    border-right: solid rgba(0, 0, 0, 0) 5px;
    border-top: solid rgba(0, 0, 0, 0) 5px;
    z-index: 10;
}

#next-fullscreenimage-button:hover, #previous-fullscreenimage-button
{
    border-left: solid rgb(231, 231, 231) 7.5px;
    border-bottom: solid rgb(231, 231, 231) 7.5px;
}